
.card {
    height: 100%;
}

//hide images by default
.mySlides {
    display: none;
}

.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover {
    background-color: #657B83;
    border-color: #657B83;
    .option{
        color: #EEE8D5;
    }
    
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}

#linkedin-contact, #github-contact, #phone-contact, #email-contact{
    margin-top: 10%;
    font-size: 20px;
}

#email, #github, #phone, #linkedin {
    display: none;
}

.notification {
    
    top: -5em;
    margin-bottom: 0;
    transform: translatex(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in {
    animation : slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
}

.slide-out {
    animation : slide-out 1s forwards;
    -webkit-animation: slide-out 1s forwards;
}


@keyframes slide-in {
    50% {transform: translateX(10%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    50% {transform: translateX(10%); }
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    50% {transform: translateX(50%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.fade img {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
}